$focus-color: map-get($ds-colors, 'interaction-200');

$ds-button-variants: (
	'primary': (
		'text': map-get($ds-colors, 'white'),
		'disabled-text': map-get($ds-colors, 'white'),
		'bg': map-get($ds-colors, 'primary'),
		'border': map-get($ds-colors, 'primary'),
		'disabled': map-get($ds-colors, 'display-content-300'),
		'hover': map-get($ds-colors, 'primary-600')
),
	'secondary': (
		'text': map-get($ds-colors, 'display-content-700'),
		'disabled-text': map-get($ds-colors, 'display-content-400'),
		'bg': map-get($ds-colors, 'white'),
		'border': 1px solid map-get($ds-colors, 'separate-content-400'),
		'disabled': map-get($ds-colors, 'white'),
		'hover': map-get($ds-colors, 'separate-content-100')
	),
	'ghost': (
		'text': map-get($ds-colors, 'display-content-700'),
		'disabled-text': map-get($ds-colors, 'display-content-400'),
		'bg': transparent,
		'border': transparent,
		'disabled': transparent,
		'hover': rgba(87, 114, 127, 0.13)
	),
	'inverted': (
		'text': map-get($ds-colors, 'white'),
		'disabled-text': rgba(255, 255, 255, 0.2),
		'bg': rgba(255, 255, 255, 0.2),
		'border': rgba(255, 255, 255, 0.2),
		'disabled': rgba(255, 255, 255, 0.2),
		'hover': rgba(255, 255, 255, 0.6)
	),
	'interaction': (
		'text': map-get($ds-colors, 'white'),
		'disabled-text': rgba(255, 255, 255, 0.2),
		'bg': map-get($ds-colors, 'interaction-600'),
		'border': map-get($ds-colors, 'interaction-600'),
		'disabled': rgba(255, 255, 255, 0.2),
		'hover': map-get($ds-colors, 'interaction-600')
	)
);
.ds-button {
	display: inline-flex;
	border-radius: 4px;
	transition: color 0.12s, background-color 0.12s , border-color 0.12s;
	padding: 0;
}
.ds-button:not([disabled]) {
	cursor: pointer;
}
.ds-button:focus {
	border-color: map-get($ds-colors, 'interaction-200');
	outline: none;
	z-index: 2;
	box-shadow: 0 0 0 3px $focus-color;
}

@each $name, $value in $ds-button-variants {
	.ds-button-#{$name} {
		background: map-get($value, 'bg');
		color: map-get($value, 'text');
		border: map-get($value, 'border');
	}
	.ds-button-#{$name}:disabled {
		background: map-get($value, 'disabled');
		color: map-get($value, 'disabled-text');
	}
	.ds-button-#{$name}:hover:not([disabled]) {
		background: map-get($value, 'hover');
	}
}
