@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,600,700&display=swap');

@import "functions";
@import "variables";
@import "buttons";
@import "scrollbar";
@import "badge";
@import "slider";
@import "tabs";
@import "card";
@import "mobile-layout";
@import "modal";
@import "visual-story";
@import "multiselect";
@import "emoji";
@import "widgets";
@import "ds-colors";
@import "ds-buttons";

html, body {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-family: 'Roboto', Helvetica, sans-serif;
	-ms-text-size-adjust: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
body {
	font-size: 14px;
	background-color: map-get($app-colors, 'display-content-200') !important;
}
ul {
	list-style: none;
	padding: 0;
}
//input icons
.input-icon,
.input-icon-pill {
	position: relative;
	padding: 0;
	width: 100%;

	.input-icon-icon {
		position: absolute;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		top: 0;
		width: 3.2rem;
		font-size: 1.4em;
		align-items: center;
	}

	&.input-icon-right .form-control {
		padding-right: 2.8rem;
	}

	&.input-icon-left .form-control {
		padding-left: 2.8rem;
	}

	.input-icon-icon-right {
		right: 0;
	}

	.input-icon-icon-left {
		left: 0;
	}
}
//end


//pill class for inputs
.input-bar-pill {
	border-radius: 50px !important;
}
//end

.select {
	height: 36px;
}

.algLeft {
	text-align: left;
}

.btn-group {
	height: 36px;
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
	display: none;
}

.hidden {
	display: none !important;
}

.modal-header {
	background-color: #F4F6F8;
	height: 68px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.modal-footer {
	height: 88px;
	justify-content: start;
}

.ProseMirror {
	border-radius: 0.25rem;
	border: 1px solid #CFD8DD;
	padding: 5px;
}
.ProseMirror:focus {
	outline:none;
}

.text-black {
	color: #000000;
}

html.page--story-publish, html.page--story-publish-restricted, html.page--story-publish-dashboard, html.page--story-publish-dashboard-vertical {
	overflow: auto!important;
	body {
		overflow-y: auto!important;
		overflow-x: hidden!important;
	}
}

.options-style {
	color: #2D3039;
	font-size: 14px;
}

.options-style-bold {
	color: #2D3039;
	font-size: 14px;
	font-weight: bold;
}

.options-grey-style {
	color: #6B6E74;
	font-size: 14px;
}

.placeholder-style {
	color: #B5B5BB;
	font-size: 14px !important;
}

.input-title-style {
	color: map-get($ds-colors, 'display-content');
	font-size: 14px;
}

.fa-icon-btn-style {
	color: #6B6E74;
	font-size: 16px !important;
}

.form-control:focus {
	outline: none !important;
}

.filterLabel {
	background: $badge-secondary;
	padding: 2px 8px;
	color: $badge-secondary-inverse;
	border-radius: 2px;
}

.hoverCircle {
	height: 13px;
	width: 13px;
	background-color: $badge-secondary-inverse;
	border-radius: 50%;
	color: $badge-secondary;
	font-size: 10px;
	font-weight: 900;
}

.tagClass {
	background: #D9E2FC;
	color: #1D54EC;
	padding: 3px;
	border-radius: 0.25rem !important;
	align-items: center !important;
	margin: 5px 3px 0;
}

.choiceInput {
	padding: 8px;
	display: flex;
	align-items: flex-start;
	color: #2D3039;
	font-size: 14px;
}

.filterCollapse {
	max-height: 200px;
	overflow: hidden;
	overflow-y: scroll;
}

.checkBox {
	height: 25px;
	width: 10px;
}

.noBorder {
	border: 0 none !important;
	border-radius: 0;
	padding-left: 32px;
}

.border-left-radius {
	border-radius: 4px 0 0 4px;
}

.border-right-radius {
	border-radius: 0 4px 4px 0;
}

.singleInput {
	border-bottom: 0 !important;
}

.delimeter {
	margin-top: 12px !important;
	margin-bottom: 12px !important;
}

.switch-left {
	left: 8px;
}

.no-left-border {
	border-left: none !important;
}

.text-dark {
	color: rgba(0, 0, 0, 1) !important;
}

// .a, .b {
// 	fill: currentColor !important;
// }

.btn-outline-chartOption {
    color: #2D3038;
}

.cursor-pointer {
	cursor: pointer;
}
.cursor-grab {
	cursor: grab;
}
.cursor-grab:active {
	cursor: grabbing;
}

.collapseBtnSize {
	width: 36px;
	height: 36px;
	.active-btn {
		border-color: map-get($ds-colors, 'interaction-400')!important;
		color: map-get($ds-colors, 'interaction-400')!important;
	}
}
.collapseBtnSize.active-btn {
	border-color: map-get($ds-colors, 'interaction-400')!important;
	color: map-get($ds-colors, 'interaction-400')!important;
}

.custom-control-label::before {
	background: #AAABAE;
}

.custom-control-label::after {
	background: #FFFFFF !important;
}

html.page--story-publish, html.page--story-publish-section, html.page--story-publish-restricted, html.page--story-publish-dashboard, html.page--story-publish-dashboard-vertical {
	body {
		.circle-widget-trigger, .circle-widget-overlay {
			display: none;
		}
	}
}

.font-size-14 {
	font-size: 14px !important;
}

.font-size-17 {
	font-size: 17px;
}

.filter-circle {
	font-size: 12px;
	width: 20px;
	height: 20px;
	background-color: map-get($ds-colors, 'secondary');
	border-radius: 50%;
	color: white;
}

// classes for global filters tags in presenter
.flex-gap-8 {
	gap: 8px
}

.border-bottom-radius {
	border-radius: 0 0 0.25rem 0.25rem;
}
.border-top-radius {
	border-radius: 0.25rem 0.25rem 0 0;
}
.border-radius-0 {
	border-radius: 0;
}
.border-radius-left-0 {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.border-radius-right-0 {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.tag-container {
	border-top: 1px solid #E7ECEE;
	background-color: map-get($ds-colors, 'white-100');
}

.h-100vh {
	height: 100vh;
}

.w-100vw {
	width: 100vw;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.text-center {
	text-align: center !important;
}

.overflow-visible {
	overflow: visible !important;
}
.btn-square {
	border-radius: 0!important;
}

.underline {
	text-decoration: underline;
}
