@import "functions";
@import "ds-colors";

$font-size-base: 0.8rem; // Assumes the browser default, typically `16px`
$brand-color: #4E75FD;

$gray-600: #6c757d;
$text-muted: #989cac;

$ts-theme-colors: (
		brand: (
				background: $brand-color,
				text: #d5e7fe
		),
		light: (
				background: rgba(#FFFFFF, 0.0),
				text: #FFFFFF
		),
		"gray": (
			background: #E1E7EA,
			text: #999EA3
		),
		dark: (
				background: rgba(#000000, 0.2),
				text: #ebedf2
		),
		clean: (
				background: rgba($brand-color, 0),
				text: #868AA8
		),
		primary: (
				background: $brand-color,
				text: #d5e7fe
		),
		secondary: (
				background: #EBEDF2,
				text: #868AA8
		),
		action: (
				background: #D6056D,
				text: #FFFFFF
		),
		success: (
				background: #54C4CA,
				text: #ffffff
		),
		info: (
				background: $brand-color,
				text: #d5e7fe
		),
		warning: (
				background: #ffae0a,
				text: #ffffff
		),
		danger: (
				background: #FF4646,
				text: #ffffff
		),
		charts: (
			background: rgba(#FFFFFF, 0.1),
			text: #2D3039
		),
		"white": (
			background: #FFFFFF,
			text:#6B6E74
		),
		third: (
			background: #d4d8e3,
			text:#6B6E74
		),
		badge-primary: (
			background: #D9E4FC,
			text:#1357E9
		),
		badge-secondary: (
			background: #D9E2FC,
			text: #1D54EC
		),
		chartOption: (
			background: #F3F6F7,
			text: #FFFFFF
		)
);

$primary:       	get-value($ts-theme-colors, 'primary', 'background');
$secondary:     	get-value($ts-theme-colors, 'secondary', 'background');
$success:       	get-value($ts-theme-colors, 'success', 'background');
$info:          	get-value($ts-theme-colors, 'info', 'background');
$warning:       	get-value($ts-theme-colors, 'warning', 'background');
$danger:        	get-value($ts-theme-colors, 'danger', 'background');
$light:         	get-value($ts-theme-colors, 'light', 'background');
$dark:          	get-value($ts-theme-colors, 'dark', 'background');
$action:        	get-value($ts-theme-colors, 'action', 'background');
$clean:         	get-value($ts-theme-colors, 'clean', 'background');
$brand:         	get-value($ts-theme-colors, 'brand', 'background');
$charts:        	get-value($ts-theme-colors, 'charts', 'background');
$white:         	get-value($ts-theme-colors, 'white', 'background');
$third:         	get-value($ts-theme-colors, 'third', 'background');
$badge-primary: 	get-value($ts-theme-colors, 'badge-primary', 'background');
$badge-secondary:	get-value($ts-theme-colors, 'badge-secondary', 'background');
$chartOption:   	get-value($ts-theme-colors, 'chartOption', 'background');


$primary-inverse:       	get-value($ts-theme-colors, 'primary', 'text');
$secondary-inverse:     	get-value($ts-theme-colors, 'secondary', 'text');
$success-inverse:       	get-value($ts-theme-colors, 'success', 'text');
$info-inverse:          	get-value($ts-theme-colors, 'info', 'text');
$warning-inverse:       	get-value($ts-theme-colors, 'warning', 'text');
$danger-inverse:        	get-value($ts-theme-colors, 'danger', 'text');
$light-inverse:         	get-value($ts-theme-colors, 'light', 'text');
$dark-inverse:          	get-value($ts-theme-colors, 'dark', 'text');
$action-inverse:        	get-value($ts-theme-colors, 'action', 'text');
$clean-inverse:         	get-value($ts-theme-colors, 'clean', 'text');
$brand-inverse:         	get-value($ts-theme-colors, 'brand', 'text');
$charts-inverse:        	get-value($ts-theme-colors, 'charts', 'text');
$chartOption-inverse:			get-value($ts-theme-colors, 'chartOption', 'text');
$badge-secondary-inverse:	get-value($ts-theme-colors, 'badge-secondary', 'text');


$theme-colors: (
		primary: $primary,
		secondary: $secondary,
		success: $success,
		info: $info,
		warning: $warning,
		danger: $danger,
		light: $light,
		dark: $dark,
		action: $action,
		clean: $clean,
		brand: $brand,
		charts: $charts,
		chartOption: $chartOption,

		primary-inverse: $primary-inverse,
		secondary-inverse: $secondary-inverse,
		success-inverse: $success-inverse,
		info-inverse: $info-inverse,
		warning-inverse: $warning-inverse,
		danger-inverse: $danger-inverse,
		light-inverse: $light-inverse,
		dark-inverse: $dark-inverse,
		action-inverse: $action-inverse,
		clean-inverse: $clean-inverse,
		brand-inverse: $brand-inverse,
		charts-inverse: $charts-inverse,
		chartOption-inverse: $chartOption-inverse
);

$font-family-base: 'Roboto';

$body-bg: map-get($ds-colors, 'white-100');
$body-color: #868AA8; // #646c9a, #868AA8
$table-color: $body-color;

$navbar-logo-background: #F5F6FC;
$navbar-background: $brand;

$headings-color: #3F4047;

$border-color: #CFD8DD;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1700px
);
