@import "~bootstrap/scss/mixins/breakpoints";

$widget-graph-padding-x: 9.5%;
$widget-text-padding-x: 25%;
$widget-padding-y: 0.5%;

$widget-graph-mobile-padding-x: 2.5%;
$widget-text-mobile-padding-x: 5%;
$widget-mobile-padding-y: 0.5%;

.visual-data-story {
	.widget-padding {
		transition: padding 400ms ease;
	}

	.stacked-right,
	.stacked-left {
		transition: padding 400ms ease;
	}

	.widget-padding-bottom {
		padding-bottom: 10vh !important;
	}
	.widget-padding-bottom-editor {
		padding-bottom: 30px !important;
	}
}

@include media-breakpoint-down(sm) {
	.visual-data-story {
		.widget-padding {
			padding-top: $widget-mobile-padding-y;
			padding-bottom: $widget-mobile-padding-y;
		}

		p.widget-padding, h1.widget-padding, h2.widget-padding, h3.widget-padding {
			padding: $widget-mobile-padding-y $widget-text-mobile-padding-x;
		}

		.widget-padding.echarts, .widget-padding.btn-group {
			padding: $widget-mobile-padding-y $widget-graph-mobile-padding-x;
			padding-top: 0;
		}

		.widget-padding.multiseries-formula {
			padding: 0 2%;
		}
	}
}

@include media-breakpoint-up(md) {
	.visual-data-story {
		.widget-padding {
			padding-top: $widget-padding-y;
			padding-bottom: $widget-padding-y;
		}

		p.widget-padding, h1.widget-padding, h2.widget-padding, h3.widget-padding {
			padding: $widget-padding-y $widget-text-padding-x;
		}

		.widget-padding.echarts, .widget-padding.btn-group {
			padding: $widget-padding-y $widget-graph-padding-x;
		}

		.widget-padding.echarts {
			padding-top: 0;
		}

		.widget-padding.multiseries-formula {
			padding: 0 2%;
		}
	}

	.formula-notification .widget-padding {
		padding: 0;
		margin: 2% 3%;
	}
}

.visual-data-story {
	.widget-padding.data-table-container {
		padding: 1rem 3rem;
	}
}

.hero-image, .formula {
	pre {
		color: inherit;
		margin-bottom: 0;
	}
}
