// formula
.formula-transition-enter-active {
	transition: transform 750ms ease;
}

.formula-notification > div {
	pointer-events: auto;
}

.formula-notification {
	&.formula-transition-enter-from {
		transform: translateY(1000%);
	}
}

// txt
.widget-text-class {
	ol {
		list-style-type: auto !important;
	}

	ul {
		list-style-type: circle !important;
	}

	p.ds-text-paragraph {
		font-size: 24px;
	}

	h1.ds-text-heading {
		font-size: 120px;
	}

	h2.ds-text-heading {
		font-size: 60px;
	}

	h3.ds-text-heading {
		font-size: 40px;
	}

}

// rich text editor


/* Basic editor styles */
.ProseMirror.prose-custom {
	border: none;
	padding: 1em;
	width: 100%;

	> * + * {
		margin-top: 0.75em;
	}


	p.is-editor-empty:first-child::before {
		content: attr(data-placeholder);
		float: left;
		color: map-get($ds-colors, 'display-content-300');
		pointer-events: none;
		height: 0;
	}

	p {
		color: map-get($ds-colors, 'display-content-900');
	}

	ul,
	ol {
		padding: 0 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: map-get($ds-colors, 'display-content-900');
		line-height: 1.2;
	}

	code {
		background-color: map-get($ds-colors, 'display-content-100');
		color: map-get($ds-colors, 'display-content-600');
	}

	pre {
		background: map-get($ds-colors, 'display-content-700');
		color: map-get($ds-colors, 'white');
		font-family: 'JetBrains Mono', 'Courier New', monospace;
		padding: 0.75rem 1rem;
		border-radius: 0.5rem;

		code {
			color: inherit;
			padding: 0;
			background: none;
			font-size: .925rem;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	blockquote {
		border-left: 4px solid map-get($ds-colors, 'separate-content-200');
		color: map-get($ds-colors, 'display-content-500');
		padding-left: 1rem;

		p {
			color: map-get($ds-colors, 'display-content-500');
		}
	}

	hr {
		border: none;
		border-top: 2px solid map-get($ds-colors, 'display-content-300');
		margin: 2rem 0;
	}
}

