$app-alpha-tertiary_02: rgba(255,255,255, 0.2);
$app-alpha-tertiary_02: rgba(255,255,255, 0.2);
$app-alpha-tertiary_04: rgba(255,255,255, 0.4);
$app-alpha-tertiary_06: rgba(255,255,255, 0.6);
$app-alpha-separate_base_08: rgba(87,114,127, 0.08);
$app-alpha-separate_base_13: rgba(87,114,127, 0.13);
$app-alpha-separate_base_24: rgba(87,114,127, 0.24);
$app-alpha-separate_base_48: rgba(87,114,127, 0.48);
$app-alpha-separate_1_48: rgba(231,236,238, 0.48);
$app-alpha-interaction_2_10: rgba(170,191,248, 0.10);

:export {
	low: 0 4px 4px 0 $app-alpha-separate_base_08, 0 0 1px 0 $app-alpha-separate_base_24;
	high: 0 2px 16px 0 $app-alpha-separate_base_24, 0 0 1px 0 $app-alpha-separate_base_48;
}
