$NONE: 0;
$XXS: 2px;
$XS: 4px;
$S: 8px;
$M: 16px;
$L: 24px;
$XL: 32px;
$XXL: 48px;
$XXXL: 64px;
$-XXS: -2px;
$-XS: -4px;
$-S: -8px;
$-M: -16px;
$-L: -24px;
$-XL: -32px;
$-XXL: -48px;
$-XXXL: -64px;

$GROUP: 12px;
$-GROUP: -12px;

:export {
	NONE: $NONE;
	XXS: $XXS;
	XS: $XS;
	S: $S;
	M: $M;
	L: $L;
	XL: $XL;
	XXL: $XXL;
	XXXL: $XXXL;
	-XXS: $-XXS;
	-XS: $-XS;
	-S: $-S;
	-M: $-M;
	-L: $-L;
	-XL: $-XL;
	-XXL: $-XXL;
	-XXXL: $-XXXL;
	GROUP: $GROUP;
	-GROUP: $GROUP;
}
